@{
ViewData["Title"] = "Home Page";
}


<style type="text/css">

   ul
    {
    list-style-type: none;
    text-align:center;
    padding:10px;
    margin:0px;
    }

    li {
      

    }

    .bookMarkLi {
         float: left;
        width:120px;
        height: 100px;
    }
    .bookmarkLink {
        align-content :center;
    }
</style>

   <div class="container">
    <h3 style="border-bottom: 1px dashed #d3d3d3;">Affärer Teknik</h3>
    <ul class="row">
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="http://www.itsajten.se/">
                <img src="http://www.itsajten.se/tpl/default/img/favicon-144px.png" width="75" height="75">
                <div>itsajten</div>

            </a>

        </li>
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="https://www.netonnet.se/">
                <img src="https://www.netonnet.se/Assets/images/ios_57x57.png" width="75" height="75">
                <div>NetonNet</div>

            </a>

        </li>
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="http://www.elgiganten.se/">
                <img src="http://www.elgiganten.se/INTERSHOP/static/WFS/store-elgigantenSE-Site/-/-/sv_SE/images/site/elgigantenSE/logo-symbol-144x144.png" width="75" height="75">
                <div>Elgiganten</div>

            </a>

        </li>
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="http://www.dustinhome.se">
                <img src="/images/dustin.png" width="75" height="75">
                <div>Dustin</div>

            </a>

        </li>
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="http://www.komplett.se">
                <img src="/images/komplett.png" width="75" height="75">
                <div>Komplett</div>

            </a>

        </li>
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="http://www.webhallen.com/se-sv/">
                <img src="images/touch-icon-iphone.png" width="75" height="75">
                <div>Webbhallen</div>

            </a>

        </li>
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="http://www.cdon.se">
                <img src="" width="75" height="75">
                <div>cdon</div>

            </a>

        </li>
    </ul>




</div>
<div class="container">
    <h3 style="border-bottom: 1px dashed #d3d3d3;">Arbete</h3>
    <ul class="row">
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="https://mail.google.com/mail/u/0/#inbox">
                <img src="/images/gmail.png" width="75" height="75">
                <div>Gmail</div>

            </a>

        </li>
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="https://www.vismaspcs.se/Online/WebbTid/TimeReportWeek.aspx">
                <img src="/images/visma.png" width="75" height="75">
                <div>Visma</div>

            </a>

        </li>
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="https://barium.atlassian.net/">
                <img src="/images/bug.png" width="75" height="75">
                <div>Buggar</div>

            </a>

        </li>
    </ul>




</div>
<div class="container">
    <h3 style="border-bottom: 1px dashed #d3d3d3;">Bygg</h3>
    <ul class="row">
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="http://www.bygghemma.se">
                <img src="" width="75" height="75">
                <div>Bygg hemma</div>

            </a>

        </li>
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="http://www.bauhaus.se/">
                <img src="http://www.bauhaus.se/skin/frontend/bauhaus_ee/bauhaus/images/bauhaus/apple-touch-icon-52.png" width="75" height="75">
                <div>Bauhaus</div>

            </a>

        </li>
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="http://www.hornbach.se/">
                <img src="/images/horn.png" width="75" height="75">
                <div>Hornbach</div>

            </a>

        </li>
    </ul>




</div>
<div class="container">
    <h3 style="border-bottom: 1px dashed #d3d3d3;">Grillning</h3>
    <ul class="row">
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="http://www.bbqlovers.se/">
                <img src="" width="75" height="75">
                <div>BBQ lovers</div>

            </a>

        </li>
    </ul>




</div>
<div class="container">
    <h3 style="border-bottom: 1px dashed #d3d3d3;">Hårdvara</h3>
    <ul class="row">
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="https://www.asus.com/Motherboards/Z170I-PRO-GAMING/">
                <img src="http://www.asus.com/media/global/products/EVO6Ez8gzRTT9I8A/P_setting_fff_1_90_end_500.png" width="75" height="75">
                <div>Asus Z170I Pro Gaming</div>

            </a>

        </li>
    </ul>




</div>
<div class="container">
    <h3 style="border-bottom: 1px dashed #d3d3d3;">Jobb</h3>
    <ul class="row">
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="http://badeploy01.ad.barium.nu/">
                <img src="https://static.loopia.se/responsive/images/iOS-57.png" width="75" height="75">
                <div>TemCity</div>

            </a>

        </li>
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="http://teamcity.barium.nu/">
                <img src="" width="75" height="75">
                <div>Old Teamcity</div>

            </a>

        </li>
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="https://rpm.newrelic.com/accounts/1340941/applications/26681785">
                <img src="apple-touch-icon.png" width="75" height="75">
                <div>New Relic - BariumLive</div>

            </a>

        </li>
    </ul>




</div>
<div class="container">
    <h3 style="border-bottom: 1px dashed #d3d3d3;">Media</h3>
    <ul class="row">
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="http://www.youtube.com/">
                <img src="/images/youtube.jpg" width="75" height="75">
                <div>YouTube</div>

            </a>

        </li>
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="http://www.viaplay.se">
                <img src="/images/via.png" width="75" height="75">
                <div>Viaplay</div>

            </a>

        </li>
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="http://www.netflix.se">
                <img src="/images/netflix.png" width="75" height="75">
                <div>Netflix</div>

            </a>

        </li>
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="http://www.svtplay.se/">
                <img src="/images/svt.png" width="75" height="75">
                <div>SVT Play</div>

            </a>

        </li>
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="http://playplus.telia.se/#/play">
                <img src="" width="75" height="75">
                <div>Telia Play</div>

            </a>

        </li>
    </ul>




</div>
<div class="container">
    <h3 style="border-bottom: 1px dashed #d3d3d3;">Mjukvara</h3>
    <ul class="row">
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="http://www.kinguin.net/">
                <img src="http://cdn.kinguin.net/media/page/logo/websites/1/logo-winter.png" width="75" height="75">
                <div>Kinguin</div>

            </a>

        </li>
    </ul>




</div>
<div class="container">
    <h3 style="border-bottom: 1px dashed #d3d3d3;">Möbler</h3>
    <ul class="row">
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="http://www.ilva.se/">
                <img src="http://www.ilva.se/images/ilvalogo.png" width="75" height="75">
                <div>Ilva</div>

            </a>

        </li>
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="http://www.ikea.com/se/sv/">
                <img src="http://www.ikea.com/ms/img/header/logo.gif" width="75" height="75">
                <div>IKEA</div>

            </a>

        </li>
    </ul>




</div>
<div class="container">
    <h3 style="border-bottom: 1px dashed #d3d3d3;">MTB</h3>
    <ul class="row">
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="http://www.chainreactioncycles.com/se/en">
                <img src="" width="75" height="75">
                <div>Chain reaction cycles</div>

            </a>

        </li>
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="http://www.evanscycles.com/">
                <img src="" width="75" height="75">
                <div>Evans</div>

            </a>

        </li>
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="http://www.bike24.com/">
                <img src="http://www.bike24.com/apple-touch-icon.png" width="75" height="75">
                <div>Bike24</div>

            </a>

        </li>
    </ul>




</div>
<div class="container">
    <h3 style="border-bottom: 1px dashed #d3d3d3;">Övervakning</h3>
    <ul class="row">
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="https://arlo.netgear.com">
                <img src="/images/arlo.jpg" width="75" height="75">
                <div>Arlo</div>

            </a>

        </li>
    </ul>




</div>
<div class="container">
    <h3 style="border-bottom: 1px dashed #d3d3d3;">Prylar</h3>
    <ul class="row">
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="http://www.hongkongeek.com/en/">
                <img src="" width="75" height="75">
                <div>HongkongGeek</div>

            </a>

        </li>
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="http://www.banggood.com/index.php">
                <img src="" width="75" height="75">
                <div>BangGood</div>

            </a>

        </li>
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="http://www.dhgate.com/">
                <img src="" width="75" height="75">
                <div>dhgate</div>

            </a>

        </li>
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="Http://prisjakt.se">
                <img src="/images/prisjakt.jpg" width="75" height="75">
                <div>Prisjakt</div>

            </a>

        </li>
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="http://www.aliexpress.com/">
                <img src="" width="75" height="75">
                <div>Aliexpress</div>

            </a>

        </li>
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="http://www.geekbuying.com/">
                <img src="/images/geek.png" width="75" height="75">
                <div>Geekbuying</div>

            </a>

        </li>
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="http://dx.com">
                <img src="" width="75" height="75">
                <div>DealExtreme</div>

            </a>

        </li>
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="http://www.pandawill.com">
                <img src="" width="75" height="75">
                <div>Pandawill</div>

            </a>

        </li>
    </ul>




</div>
<div class="container">
    <h3 style="border-bottom: 1px dashed #d3d3d3;">Server</h3>
    <ul class="row">
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="https://my.eliq.se/user/start">
                <img src="https://my.eliq.se//files/page/img/frame/webpage-app-icon.png" width="75" height="75">
                <div>Eliq</div>

            </a>

        </li>
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="http://192.168.1.10:888">
                <img src="" width="75" height="75">
                <div>qBittorren</div>

            </a>

        </li>
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="http://hem.nosslin.net:32400/web/index.html">
                <img src="http://hem.nosslin.net:32400/web/img/ios/icon-ipad.png" width="75" height="75">
                <div>Plex</div>

            </a>

        </li>
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="http://192.168.1.1/html/home.html">
                <img src="" width="75" height="75">
                <div>4g modem</div>

            </a>

        </li>
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="http://192.168.1.10:88/gui/">
                <img src="/images/utorrent.png" width="75" height="75">
                <div>uTorrent</div>

            </a>

        </li>
    </ul>




</div>
<div class="container">
    <h3 style="border-bottom: 1px dashed #d3d3d3;">Systemverktyg</h3>
    <ul class="row">
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="http://processhacker.sourceforge.net/">
                <img src="" width="75" height="75">
                <div>Process Hacker</div>

            </a>

        </li>
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="http://www.cpubenchmark.net/cpu_list.php">
                <img src="" width="75" height="75">
                <div>PassMaRK cpu benchmark</div>

            </a>

        </li>
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="https://send-anywhere.com/">
                <img src="" width="75" height="75">
                <div>Send Anywhere</div>

            </a>

        </li>
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="http://bestonlinehtmleditor.com/">
                <img src="" width="75" height="75">
                <div>HTML editor</div>

            </a>

        </li>
    </ul>




</div>
<div class="container">
    <h3 style="border-bottom: 1px dashed #d3d3d3;">Teknik</h3>
    <ul class="row">
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="http://www.engadget.com/">
                <img src="http://www.blogsmithmedia.com/www.engadget.com/media/apple-touch-icon-z.png" width="75" height="75">
                <div>Engadet</div>

            </a>

        </li>
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="http://www.cpubenchmark.net/cpu_list.php">
                <img src="" width="75" height="75">
                <div>CPU Benchmark</div>

            </a>

        </li>
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="http://arnoldthebat.co.uk/wordpress/chromium-os/">
                <img src="" width="75" height="75">
                <div>Chromium</div>

            </a>

        </li>
    </ul>




</div>
<div class="container">
    <h3 style="border-bottom: 1px dashed #d3d3d3;">Utveckling</h3>
    <ul class="row">
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="https://bariumqa.visualstudio.com/Barium%20Process%20Server/_git/BPS/history">
                <img src="" width="75" height="75">
                <div>Visual Studio Online</div>

            </a>

        </li>
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="http://stats.barium.nu/">
                <img src="https://static.loopia.se/responsive/images/iOS-57.png" width="75" height="75">
                <div>Kibana</div>

            </a>

        </li>
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="https://rpm.newrelic.com/accounts/1340941/applications/26681785">
                <img src="https://rpm.newrelic.com/apple-touch-icon.png" width="75" height="75">
                <div>New Relic</div>

            </a>

        </li>
        <li class="bookMarkLi">

            <a class="bookmarkLink" href="http://stackoverflow.com/">
                <img src="/images/stack.png" width="75" height="75">
                <div>stackoverflow</div>

            </a>

        </li>
    </ul>

</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }


<script type="text/javascript">

    $(window).bind('load', function () {
        $('img').each(function () {
            if ((typeof this.naturalWidth != "undefined" &&
                this.naturalWidth == 0)
                || this.readyState == 'uninitialized') {
                //$(this).attr('src', 'https://www.netonnet.se/Assets/images/ios_57x57.png');
                $(this).attr('src', '');
                $(this).attr('class', 'fa fa-html5 fa-4');
            }
        });
    })

</script>

}



